@font-face {
  font-family: "KGStrawberryLimeade";
  src: url("/static/fonts/KGStrawberryLimeade.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("/static/fonts/Merriweather-Regular.otf") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Merriweather, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 23px;
  text-align: center;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #EFD6FC;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  text-decoration: none!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: KGStrawberryLimeade, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #6B3E81;
  font-weight: 400;
  margin: 0;
}

p {
  text-align: left;
  font-size: 0.7rem;
  letter-spacing: 0.025em;
  color: #6B3E81;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.scrolled.slide-up {
  animation: fade-in 0.6s ease-in-out both;
}

.scrolled.slide-down {
  animation: fade-in-bottom 0.6s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 0.6s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 0.6s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -ms-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    -ms-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Rotate first bar */

#burgerContainer.change div:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
  transform: rotate(-45deg) translate(-7px, 6px);
}


/* Fade out the second bar */

#burgerContainer.change div:nth-child(2) {
  opacity: 0;
}


/* Rotate last bar */

#burgerContainer.change div:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
  transform: rotate(45deg) translate(-9px, -8px);
}

#burgerContainer div:nth-child(1),
#burgerContainer div:nth-child(2),
#burgerContainer div:nth-child(3) {
  width: 35px;
  height: 5px;
  background-color: #6B3E81;
  margin: 6px 0;
  transition: 0.4s;
}

#mobile_menu.change {
  max-height: 300px;
}

.slick-prev {
  left: -40px!important;
}

.slick-next {
  right: -40px!important;
}

.slick-next:before,
.slick-prev:before {
  font-size: 0px!important;
  color: transparent!important;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #ff266b transparent transparent;
}

.slick-next:before {
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #ff266b;
}

.slick-track p {
  padding: 0 5px;
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 20px;
  }
}


/*MINT PAGE*/

.logo_container a {
  display: block;
}

.logo_container a img {
  max-width: 40vw;
  padding: 2%;
  padding-bottom: 5%;
  max-height: 100px;
}

.minting_container {
  background-color: #d4c2e8;
  border: 1px solid hsla(0, 0%, 100%, .075);
  border-radius: 12px;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 20px;
  color: #fff;
  max-width: 80vw;
  margin-bottom: 10%;
  box-sizing: border-box;
  margin-top: 20vh;
  border: 3px solid #7e47a2;
}

#current_address {
  word-break: break-all;
}

.minting_container h5 {
  color: #Fff;
}

#connect {
  background: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 8px 16px;
  font-weight: bold;
  color: #7e47a2;
  font-size: 14px;
}

#number_for_mint {
  border-color: transparent;
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  font-size: 18px;
  line-height: 38px;
  outline: none;
  margin-bottom: 15px;
  margin-top: 15px;
}

h6 {
  margin: 10px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.buttons_container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1920px){
  .body_container {
    background: url('../static/images/bg_4k.webp');
  }
}
@media screen and (min-width: 1000px) and (max-width: 1920px) {
  .body_container {
    background: url('../static/images/bg_medium.webp');
  }
}
@media screen and (max-width: 1000px) {
  .body_container {
    background: url('../static/images/bg_mobile.webp');
  }
}

.body_container {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  font-family: Arial;
  padding: 5%;
  box-sizing: border-box;
}

.buttons_container button {
  background: none;
  border: none;
  color: #fff;
  font-size: 30px;
}

.buttons_container input {
  margin: 0 20px;
}

.overall_container {
  width: fit-content;
  display: inline-block;
  margin-bottom: 5%;
}
.overall_container a{
  color: #6B3E81;
}
.team_images{
  border-radius: 50%;
}